/***************************
	Inherited Styles
***************************/

html {
	box-sizing: border-box;
	font-family: "Arial", "Helvetica";
    font-size: 12pt;
	color: #42302C;
	background-color: #FFF5EE;
}

*, *::before, *::after {
	box-sizing: inherit;
	font: inherit;
	color: inherit;
}

/***************************
	Defaults
***************************/

body {
	margin: 0;
}

.fa {
	font-size: 3em;
}

/***************************
	Components
***************************/


.header-primary {
	height: 200px;
	background-image: url("images/hero.jpg");
	background-size: cover;
}

.header-primary nav {
	text-align: right;
	margin-right: 20px;
	padding-top: 5px;
}

.header-primary nav a {
	margin: 0 20px 0 20px;
	text-decoration: none;
}

.header-primary h1 {
	text-align: center;
	font-family: "Tangerine", "cursive";
	font-size: 5em;
	margin-top: 125px;
	color: #FFF5EE;
}

.mid-section {
	text-align: center;
	height: 380px;
}

.mid-section h2 {
	font-size: 1.5em;
}

.mid-section .gallery-primary {
	display: flex;
}

.mid-section .gallery-primary .one {
	flex: 1;
}

.mid-section .gallery-primary .one img {
	height: 100px;
	width: 100px;
}

.mid-section .gallery-primary .two {
	flex: 1;
}

.mid-section .gallery-primary .two img {
	height: 100px;
	width: 100px;
}

.mid-section .gallery-primary .three {
	flex: 1;
}

.mid-section .gallery-primary .three img {
	height: 100px;
	width: 100px;
}

.bottom-section {
	text-align: center;
	height: 800px;
	background-image: url("images/cooking1.jpg");
	background-size: cover;
	color: #FFF5EE;;
}

.bottom-section div {
	padding-top: 160px;
}

.bottom-section p {
	margin: 80px 320px 0 0;
}

.bottom-section p:nth-child(2){
	margin-right: 340px;
}

.bottom-section a {
	text-decoration: none;
}

.bottom-section a:hover {
	color: #42302C;
}


@media only screen and (min-width: 900px){

	body {
		font-size: 2em;
	}

	.header-primary {
		height: 400px;
		background-image: url("images/hero.jpg");
		background-size: cover;
	}

	.header-primary nav {
		text-align: right;
		margin-right: 60px;
		padding-top: 10px;
	}

	.header-primary nav a {
		margin: 0 20px 0 20px;
		text-decoration: none;
	}

	.mid-section {
		height: 650px;
	}

	.mid-section h2 {
		font-size: 1em;
	}

	.mid-section p {
		font-size: .75em;
	}

	.mid-section .gallery-primary .one img {
		height: 350px;
		width: 350px;
	}

	.mid-section .gallery-primary .two img {
		height: 350px;
		width: 350px;
	}

	.mid-section .gallery-primary .three img {
		height: 350px;
		width: 350px;
	}
	
	.bottom-section {
		font-size: .75em;
	}
	.bottom-section p {
		margin: 42px 898px 0 155px;
	}

	.bottom-section p:nth-child(2){
		margin-right: 912px;
	}

	.bottom-section p:nth-child(3){
		margin-right: 870px;
	}

}

@media only screen and (min-width: 1600px) {

	.mid-section h2 {
		font-size: 1em;
	}

	.bottom-section p {
		float: left;
		margin: 127px 1200px 0 155px;
	}

	.bottom-section p:nth-child(1){
		margin: 457px 0 0 286px;
	}

	.bottom-section p:nth-child(2){
		margin: 457px 0 0 200px;
	}

	.bottom-section p:nth-child(3){
		margin: 457px 0 0 200px;
	}
}